{{!< default}}
<div class="container">
	

<div class="jumbotron">
  <h1>Hi there!</h1>
  <hr/><br/>
  <p>This site was created to help display my professional and personal <strong>aptitude in modern web technologies</strong>. 
    I am currently a full-time, <strong>full-stack web developer</strong> with an academic background in computer and technology engineering.
    I am curious, passionate, and find satisfaction in <strong>materializing ideas into fruition</strong>.
    Please have a look around and enjoy!</p>
    
    <a class="btn btn-primary center-block" href="/work" role="button">Check Out My Work!</a>

</div>
</div>
<div class="container-fluid home-highlight-wrap">
  <div class="container">
<div class="row">
  <div class="col-sm-4">
    <div class="highlight-hover-area">
      <a href="https://github.com/WhoSpeaks4Earth" target="_blank">
        <i class="fa fa-github-square" aria-hidden="true"></i>
        <h4>GitHub</h4>
      </a>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="highlight-hover-area">
      <a href="https://www.linkedin.com/in/shawnbahramy" target="_blank">
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        <h4>LinkedIn</h4>
      </a>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="highlight-hover-area">
      <a href="docs/HamSund_Intern_Eval_Full.pdf">
        <i class="fa fa-file-text" aria-hidden="true"></i>
        <h4>Professional Evaluation</h4>
      </a>
    </div>
  </div>
</div>
</div>
</div>

<div class="container">
<div class="row">

      <blockquote>
        <p>The secret to getting ahead is getting started.</p>
        <footer>Mark Twain</footer>
      </blockquote>

      <blockquote class="blockquote-reverse">
        <p>I think it's very important to have a feedback loop, where you're constantly thinking about what you've done and how you could be doing it better. I think that's the single best piece of advice: constantly think about how you could be doing things better and questioning yourself.</p>
        <footer>Elon Musk</footer>
      </blockquote>

      <blockquote>
        <p>Weakness of attitude becomes weakness of character.</p>
        <footer>Albert Einstein</footer>
      </blockquote>

      <blockquote class="blockquote-reverse">
        <p>It pays to keep an open mind, but not so open your brains fall out.</p>
        <footer>Carl Sagan</footer>
      </blockquote>

      
      
    </div>
</div>
