

<div class="container">
    {{#if projects}}
    {{#each projects}}
    <div class="jumbotron">
        <h1>{{name}}</h1>
        <p>{{{description}}}</p>
        <a class="btn btn-primary" href="{{url}}" role="button">Link</a>
    </div>
    {{/each}}
    {{else}}
    Could not find any projects.
    {{/if}}
</div>