
<div class="container">

{{#if achievements}}
    {{#each achievements}}
        {{name}}
    {{/each}}
{{else}}
<!-- else -->
<h3 class="text-muted">There are no achievements yet.</h3>
{{/if}}

</div>