

<footer class="container-fluid footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">

          <div class="list-group">
            <a href="#" class="list-group-item disabled">
              Created Using
            </a>
            <a href="https://code.visualstudio.com" target="_blank" class="list-group-item">Visual Studio Code</a>
            <a href="http://keystonejs.com/" target="_blank" class="list-group-item">KeystoneJS</a>
            <a href="https://nodejs.org/en/" target="_blank" class="list-group-item">NodeJS 6.9</a>
            <a href="https://expressjs.com" target="_blank" class="list-group-item">ExpressJS</a>
            <a href="http://getbootstrap.com/" target="_blank" class="list-group-item">Bootstrap</a>
            <a href="https://mongodb.com/" target="_blank" class="list-group-item">MongoDB</a>
          </div>

        </div>
        <div class="col-sm-4">
          <div class="list-group">
            <a href="#" class="list-group-item disabled">
              Built &amp; Packaged Using
            </a>
            <a href="http://npmjs.com/" target="_blank" class="list-group-item">NPM</a>
            <a href="https://www.docker.com/" target="_blank" class="list-group-item">Docker Containers</a>
            <a href="https://docs.docker.com/compose/" target="_blank" class="list-group-item">Docker Compose</a>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="list-group">
            <a href="#" class="list-group-item disabled">
              Served Using
            </a>
            <a href="https://aws.amazon.com/" target="_blank" class="list-group-item">AWS EC2</a>
            <a href="https://www.nginx.com/" target="_blank" class="list-group-item">nginx</a>
            <a href="https://www.ubuntu.com/" target="_blank" class="list-group-item">Ubuntu 16</a>
            <a href="https://www.cloudinary.com/" target="_blank" class="list-group-item">Cloudinary</a>
            <a href="https://www.fontawesome.com/" target="_blank" class="list-group-item">Font Awesome</a>
          </div>
        </div>
      </div>
    </div>
</footer>