.container-cv-header
    h1
        margin-bottom 30px
    small
        font-weight lighter

.cv-section
    margin-top 30px
    a
        color $blue
    a:hover
        text-decoration none

    h4
        color #4c525a

    .panel-heading
        background-color $dark-gray
        small
            float right


// CERTIFICATIONS
.row-certs
    table > thead > tr
        background-color white
        font-weight bold
        color $dark-gray




// PROJECTS
.container-projects
    background-color $white-gray
    .jumbotron
        p
            color $light-gray
            margin-top 30px
            margin-bottom 30px
        .btn-primary
            background-color $blue
            border 1px solid $blue


