.jumbotron {
    margin-top: 30px;
    text-align: center;

    hr {
        display: block;
        width: 20%;
    }

    p {
        font-weight: lighter;
        font-size: 18px;
    } 

    .btn-primary {
        padding: 15px;
        margin-top: 40px;
        font-size: 16px;
    }
}

.home-highlight-row {

    .highlight-hover-area {
        //border: 1px solid black;
        text-align: center;
        padding: 20px;

        a:hover, a:visited {
            cursor: pointer;
            text-decoration: none; 
        }

        i {
            font-size: 82px;
            display: block;
        }
    }
}


blockquote {
    margin-top: 40px;

    footer
    {
        margin-top: 0px;
        padding-top: 0px;
    }
        
}