.jumbotron {
    text-align: center;
    background-color white

    hr {
        display: block;
        width: 20%;
    }

    p {
        font-weight: lighter;
        font-size: 20px;
    } 

    .btn-primary {
        padding: 15px;
        margin-top: 40px;
        font-size: 16px;
    }
}

.home-highlight-wrap {

    background-color #4c525a
    padding-top 50px
    padding-bottom 50px
    margin-top 20px
    margin-bottom 20px

    .highlight-hover-area {
        //border: 1px solid black;
        text-align: center;
        padding: 20px;

        a:hover, a:visited {
            cursor pointer
            text-decoration none
        }

        i {
            font-size 82px
            display block
            color white
        }
    }
}


blockquote {
    margin-top: 40px;

    footer
    {
        margin-top: 0px;
        padding-top: 0px;
    }
        
}