header
    margin-top 20px
    img
        margin-top -20px

.navbar
    border none

.navbar-default .navbar-nav > .active > a
    color: $green
    border 2px solid $green
    &:hover
        color: $green


footer
    margin-top 20px
    border-top 1px solid gray-lighter
    color gray-light

strong
    color #01b98d


.gallery-image img
    display block
    max-width 100%
    height auto
